@page "/blog"

<PageTitle>Blog</PageTitle>

<h3>Blog</h3>

<p>This will become a blog site within the Main site</p>
<p>Content will include...
    <ul>
        <li>The Coding Journey</li>
        <li>World Building Verysia</li>
        <li>World Building Winds of the Etherium</li>
        <li>Thoughts and Philosophies</li>
    </ul>
</p>
<p>I am hoping this also serves to help you get to know me, my work, and the things that inspire me.</p>
<p> Thank you </p>
@code {

}
